#sidebar-wrapper{
	--bs-bg-opacity: 0.15;
}

.list-group-item{
	margin-top: 1px;
	margin-bottom: 15px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}



#sidebarBtnDisabled{
	color: white;
	font-weight: bold; 
	background-color: #598099;
}



#sidebarBtnIntroduccion{



}
